<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>status</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
            src="https://code.jquery.com/jquery-3.6.3.slim.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/local}" type="button">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/github}" type="button">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold fw-semibold"
                           th:href="@{/codecommit/repositories(region = 'ap-south-1')}"
                           type="button">CodeCommit</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/local/fileDetails(path = ${path})}"
                           type="button">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold"
                           th:href="@{/local/reset(path = ${path})}"
                           type="button">Reset</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/local/operations(path = ${path})}"
                           type="button">Operations</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar " id="sidebar">
            <div class="navbar-brand">
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <h4>Status</h4>
                    </li>
                    <li class="nav-item" th:unless="${type == 'MODIFY'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='MODIFY' )}" type="button">MODIFY</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'IGNORE'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='IGNORE' )}" type="button">IGNORE</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'UNTRACKED'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='UNTRACKED')}" type="button">UNTRACKED</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'CONFLICT'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='CONFLICT')}" type="button">CONFLICT</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'MISSING'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='MISSING')}" type="button">MISSING</a>
                    </li>
                </ul>
                <hr>
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <div class="d-flex justify-content-center">
                <br>
                <h3 th:text="${path}"></h3>
            </div>
            <br>
            <div class="border rounded" th:unless="${pathStatus.isEmpty()}">
                <br>
                <h4 style="text-align: center" th:text="${type}"></h4>
                <hr>
                <form th:action="@{/local/status/action(path = ${path},type= ${type})}" method="post">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">File</th>
                            <th scope="col">Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row" th:each="entry : ${pathStatus}">
                            <td>
                                <input aria-label="Select" name="selectedFile" th:value="${entry.key}"
                                       class="form-check-input"
                                       type="checkbox">
                            </td>
                            <td class="text-dark" th:text="${entry.key}"></td>
                            <td class="text-dark" th:text="${entry.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group" th:if="${type == 'MODIFY'}">
                        <label for="nameInput">Message:</label>
                        <input class="form-control" id="nameInput" name="message" placeholder="Enter message"
                               th:value="${message}"
                               type="text">
                    </div>
                    <br>
                    <div class="d-flex justify-content-evenly">
                        <button th:if="${type == 'UNTRACKED'}" class="btn btn-success" type="submit"
                                name="action" value="ADD">
                            Add
                        </button>
                        <button th:if="${type == 'MODIFY'}" class="btn btn-danger" type="submit"
                                name="action" value="REMOVE">Remove
                        </button>
                        <button th:if="${type =='MISSING'}" class="btn btn-danger" type="submit"
                                name="action" value="REMOVE">Add
                        </button>
                        <button th:if="${type == 'UNTRACKED'}" class="btn btn-danger" type="submit"
                                name="action" value="CLEAN">Remove
                        </button>
                        <button th:if="${type == 'MODIFY'}" class="btn btn-primary" type="submit" name="action"
                                value="RESTORE">Restore
                        </button>
                        <button th:if="${type == 'MODIFY'}" class="btn btn-success" type="submit" name="action"
                                value="COMMIT">
                            Commit
                        </button>
                        <button th:if="${type =='MISSING'}" class="btn btn-success" type="submit" name="action"
                                value="CHECKOUT">
                            Reset
                        </button>
                    </div>
                </form>
                <br>
            </div>
        </main>
    </div>
</div>
</body>
</html>