<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>status</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
            src="https://code.jquery.com/jquery-3.6.3.slim.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-link" th:href="@{/local}" type="button">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link" th:href="@{/github}" type="button">GitHub</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'MODIFY'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='MODIFY' )}" type="button">MODIFY</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'IGNORE'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='IGNORE' )}" type="button">IGNORE</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'UNTRACKED'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='UNTRACKED')}" type="button">UNTRACKED</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'REMOVED'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='REMOVED')}" type="button">REMOVED</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'CONFLICT'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='CONFLICT')}" type="button">CONFLICT</a>
                    </li>
                    <li class="nav-item" th:unless="${type == 'MISSING'}">
                        <a class="btn btn-link" th:href="@{status(path = ${path}, type ='MISSING')}" type="button">MISSING</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<br>
<h2 style="text-align: center;">Status</h2>
<div class="d-flex justify-content-center">
    <br>
    <h3 th:text="${path}"></h3>
</div>
<br>
<div class="container">
    <h4 th:text="${type}"></h4>
    <div class="border rounded">
        <form th:action="@{/local/status/action(path = ${path},type= ${type})}" method="post">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">File</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="status : ${pathStatus}">
                    <td>
                        <input aria-label="Select" name="selectedFile" th:value="${status}" class="form-check-input"
                               type="checkbox">
                    </td>
                    <td class="text-dark" th:text="${status}"></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-evenly">
                <button th:if="${type == 'UNTRACKED'}" class="btn btn-success" type="submit" name="action" value="ADD">
                    Add
                </button>
                <button th:if="${type == 'MODIFY'}" class="btn btn-danger" type="submit"
                        name="action" value="REMOVE">Remove
                </button>
                <button th:if="${type == 'UNTRACKED'}" class="btn btn-danger" type="submit"
                        name="action" value="CLEAN">Remove
                </button>
                <button th:if="${type == 'MODIFY'}" class="btn btn-primary" type="submit" name="action"
                        value="ROLLBACK">RollBack
                </button>
                <button th:if="${type == 'MODIFY'}" class="btn btn-success" type="submit" name="action" value="COMMIT">
                    Commit
                </button>
            </div>
        </form>
        <br>
    </div>
</div>
</body>
</html>