<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
            src="https://code.jquery.com/jquery-3.6.3.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Bootstrap JS and Popper.js -->
    <script crossorigin="anonymous"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <style>
        #content {
            padding: 20px;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-link" th:href="@{/local}" type="button">Home</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="btn btn-link" th:href="@{/form}" type="button">Init Repository</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="btn btn-link" th:href="@{/github}" type="button">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" id="sidebar">
            <div class="navbar-brand">
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <button class="btn btn-link" id="statusButton" onclick="loadStatus()">Status</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link" id="commitsButton" onclick="loadCommits()">Commits</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link" id="authorsButton" onclick="loadAuthors()">Authors</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link" id="graphsButton" onclick="loadGraphs()">Graph</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link" id="branchButton" onclick="loadBranch()">Branch</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link" id="configButton" onclick="loadConfig()">Config</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link" id="files" onclick="getFiles(path)">Files</button>
                    </li>
                </ul>
                <hr>
            </div>
        </nav>

        <!-- Content -->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <h2 class="col text-center"
                th:text="${path}">
            </h2>
            <div id="dynamicContent"></div>
        </main>

        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Print Commits</h5>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/local/printCommits(path = ${path})}" th:method="post">
                            <div class="form-group">
                                <label for="nameInput">File Name:</label>
                                <input class="form-control" id="nameInput" name="fileName" placeholder="Enter filename"
                                       required th:value="${fileName}"
                                       type="text">
                            </div>
                            <br>
                            <label for="multiSelectAuthor">Authors</label>
                            <select aria-label=".form-select-lg example" class="form-select" id="multiSelectAuthor" name="authors" multiple>
                            </select>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" name="timestamp" th:checked="false" th:value="true"
                                       type="checkbox">
                                <label class="form-check-label">Timestamp</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="email" th:checked="false" th:value="true"
                                       type="checkbox">
                                <label class="form-check-label">Email</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="message" th:checked="false" th:value="true"
                                       type="checkbox">
                                <label class="form-check-label">Message</label>
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        google.charts.load('current', {
            packages: ['corechart', 'bar', "orgchart", "calendar"]
        });
        loadStatus()
    });
    const path = [[${path}]]

    function loadCommits() {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty(); // Clear existing content
        let finalUrl = `/api/getCommits?path=${path}`
        $.get(finalUrl, function (data) {
            displayData(data);
        });
    }

    function showModal() {
        $('#myModal').modal('show');
        let finalUrl = `/api/getAuthors?path=${path}`
        $.get(finalUrl, function (data) {
            let selectElement = document.getElementById("multiSelectAuthor");
            for (const datum of data) {
                let option = document.createElement("option");
                option.value = datum.email;
                option.text = datum.email;
                selectElement.appendChild(option);
            }
        });
    }

    function displayData(data) {
        if (data.length > 0) {
            const table = document.createElement('table');
            table.classList.add("table", "table-striped"); // Add the "table-striped" class
            // Create table header
            const thead = document.createElement('thead');
            thead.classList.add("thead-dark");
            const headerRow = document.createElement('tr');
            ['commitDate', 'commitId', 'parentCount', 'name', 'email'].forEach(headerText => {
                const th = document.createElement('th');
                th.scope = 'col';
                th.textContent = headerText;
                headerRow.appendChild(th);
            });
            thead.appendChild(headerRow);
            table.appendChild(thead);

            // Create table body
            const tbody = document.createElement('tbody');
            data.forEach(dataRow => {
                const tr = document.createElement('tr');
                ['timestamp', 'commitId', 'parentCount', 'name', 'email'].forEach(key => {
                    const td = document.createElement('td');
                    if (key === 'timestamp') {
                        let timestamp = dataRow[key]
                        td.textContent = new Date(timestamp * 1000).toDateString();
                    } else if (key === 'commitId') {
                        const anchorElement = document.createElement('a');
                        anchorElement.textContent = dataRow[key];
                        anchorElement.setAttribute('href', '');
                        anchorElement.addEventListener('click', function (event) {
                            event.preventDefault();
                            // Call your function here
                            getCommit(dataRow[key]);
                        });
                        td.appendChild(anchorElement)
                    } else {
                        td.textContent = dataRow[key];
                    }
                    tr.appendChild(td);
                });
                tbody.appendChild(tr);
            });
            table.appendChild(tbody);

            // Append table to the container
            const tableContainer = document.getElementById('dynamicContent');
            let button = document.createElement("button");
            // Set button attributes
            button.setAttribute("type", "button");
            button.setAttribute("class", "btn btn-primary");
            button.textContent = "Commits";
            button.addEventListener("click", showModal);
            tableContainer.appendChild(button)
            tableContainer.appendChild(table);
        }
    }

    function loadGraphs() {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();
        let finalUrl = `/api/getGraph?path=${path}`
        $.get(finalUrl, function (data) {
            // Update the dynamic content with the response
            console.log(data)
            console.log(data.authorCommitsCount)
            console.log(data.commitsByDate)
            console.log(data.lastDayCommits)
            let mainElement = document.getElementById('dynamicContent');
            drawCalenderChart(data.commitsByDate, mainElement)
            drawPieChart(data.authorCommitsCount, mainElement)
            drawStuff(data.lastDayCommits, mainElement)
        });
    }

    function drawStuff(lastDayCommits, mainElement) {
        let existingElement = document.getElementById("last_day_commits");
        if (!existingElement) {
            let divElement = document.createElement("div");
            divElement.setAttribute("id", "last_day_commits");
            divElement.setAttribute("style", "width: 600px; height: 400px;");
            mainElement.appendChild(divElement);

            let data = new google.visualization.DataTable();
            data.addColumn('string', 'author');
            data.addColumn('number', 'commits');

            for (const commitKey in lastDayCommits.commits) {
                data.addRow([commitKey, lastDayCommits.commits[commitKey]]);
            }
            let options = {
                width: 300,
                legend: {position: 'none'},
                chart: {
                    title: 'Last Commits on ' + lastDayCommits.lastDate,
                    // subtitle: 'popularity by percentage' },
                },
                axes: {
                    x: {
                        0: {side: 'top', label: 'Authors'} // Top x-axis.
                    }
                },
                bar: {groupWidth: "90%"}
            };

            let chart = new google.charts.Bar(divElement);
            // Convert the Classic options to Material options.
            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    };

    function drawCalenderChart(commitsByDate, mainElement) {
        let existingElement = document.getElementById("commits_by_date");
        if (!existingElement) {
            // Create a new div element
            let divElement = document.createElement("div");
            divElement.setAttribute("id", "commits_by_date");
            divElement.setAttribute("style", "width: 1000px; height: 350px;");
            mainElement.appendChild(divElement);

            let dataTable = new google.visualization.DataTable();
            dataTable.addColumn({type: 'date', id: 'Date'});
            dataTable.addColumn({type: 'number', id: 'commits'});
            for (const commitKey in commitsByDate) {
                dataTable.addRow([new Date(commitKey), commitsByDate[commitKey]]);
            }
            let chart = new google.visualization.Calendar(divElement);
            let options = {title: "Commits over time", height: 350};
            chart.draw(dataTable, options);
        }
    }

    function drawPieChart(authorCommitsCount, mainElement) {
        let existingElement = document.getElementById("author_commits_count");
        if (!existingElement) {
            // Create a new div element
            let divElement = document.createElement("div");
            divElement.setAttribute("id", "author_commits_count");
            divElement.setAttribute("style", "width: 1200px; height: 800px;");
            mainElement.appendChild(divElement);

            let data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'Views');
            let totalCount = 0;
            for (const authorKey in authorCommitsCount) {
                totalCount = totalCount + authorCommitsCount[authorKey]
                data.addRow([authorKey, authorCommitsCount[authorKey]]);
            }
            let options = {title: 'Total Commits  - ' + totalCount, is3D: true, fontSize: 20};
            let chart = new google.visualization.PieChart(divElement);
            chart.draw(data, options);
        }
    }

    function loadAuthors() {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty(); // Clear existing content
        let finalUrl = `/api/getAuthors?path=${path}`
        $.get(finalUrl, function (data) {
            console.log(data)
            displayAuthorsData(data)
        });
    }

    function getCommitsByAuthorEmail(email) {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();
        let finalUrl = `/api/getCommitsByAuthorEmail?path=${path}&email=${email}`
        $.get(finalUrl, function (data) {
            console.log(data)
            displayData(data)
        });
    }

    function displayAuthorsData(data) {
        if (data.length > 0) {
            const table = document.createElement('table');
            table.classList.add('table');

            // Create table header
            const thead = document.createElement('thead');
            const headerRow = document.createElement('tr');
            ['no', 'name', 'email', 'commits'].forEach(headerText => {
                const th = document.createElement('th');
                th.scope = 'col';
                th.textContent = headerText;
                headerRow.appendChild(th);
            });
            thead.appendChild(headerRow);
            table.appendChild(thead);

            // Create table body
            const tbody = document.createElement('tbody');
            let no = 1;
            data.forEach(dataRow => {
                const tr = document.createElement('tr');

                const noEle = document.createElement('td');
                noEle.textContent = no
                tr.appendChild(noEle);

                const nameEle = document.createElement('td');
                nameEle.textContent = dataRow.name
                tr.appendChild(nameEle);

                const emailEle = document.createElement('td');
                emailEle.textContent = dataRow.email
                tr.appendChild(emailEle);

                const commitsEle = document.createElement('td');
                let buttonElement = document.createElement("button");
                buttonElement.setAttribute("type", "submit");
                buttonElement.setAttribute("class", "btn btn-primary");
                buttonElement.textContent = "show";
                buttonElement.addEventListener('click', function (event) {
                    event.preventDefault();
                    getCommitsByAuthorEmail(dataRow.email);
                });
                commitsEle.appendChild(buttonElement)
                tr.appendChild(commitsEle);

                tbody.appendChild(tr);
                no += 1;
            });
            table.appendChild(tbody);
            // Append table to the container
            const tableContainer = document.getElementById('dynamicContent');
            tableContainer.appendChild(table);
        }
    }

    function loadStatus() {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();
        let finalUrl = `/api/getStatus?path=${path}`
        $.get(finalUrl, function (data) {
            console.log(data)
            displayStatus(data)
        });
    }

    function displayStatus(data) {
        // Create table element
        let table = document.createElement("table");
        table.classList.add("table");

        // Create table head
        let thead = document.createElement("thead");
        thead.classList.add("thead-dark");
        let headRow = document.createElement("tr");
        let headers = ["Type", "Path"];
        headers.forEach(function (headerText) {
            let th = document.createElement("th");
            th.textContent = headerText;
            headRow.appendChild(th);
        });
        thead.appendChild(headRow);
        table.appendChild(thead);

        // Create table body
        let tbody = document.createElement("tbody");
        for (let key in data) {
            if (data.hasOwnProperty(key) && Array.isArray(data[key])) {
                data[key].forEach(function (item) {
                    let row = document.createElement("tr");
                    let typeCell = document.createElement("td");
                    typeCell.textContent = key;
                    let pathCell = document.createElement("td");
                    pathCell.textContent = item;
                    row.appendChild(typeCell);
                    row.appendChild(pathCell);
                    if (key === "ignore") {
                        row.classList.add("table-warning");
                    } else if (key === 'modified') {
                        row.classList.add("table-primary");
                    } else if (key === 'added') {
                        row.classList.add("table-success");
                    } else if (key === 'remove') {
                        row.classList.add("table-secondary");
                    } else if (key === 'untracked') {
                        row.classList.add("table-danger");
                    }
                    tbody.appendChild(row);
                });
            }
        }
        table.appendChild(tbody);

        // Append table to container
        let container = document.getElementById("dynamicContent");
        container.appendChild(table);
    }

    function loadBranch() {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();
        let finalUrl = `/api/getBranch?path=${path}`
        $.get(finalUrl, function (data) {
            console.log(data)
            displayBranch(data)
        });
    }

    function displayBranch(data) {
        if (data.length > 0) {
            const table = document.createElement('table');
            table.classList.add('table', 'table-hover');

            // Create table header
            const thead = document.createElement('thead');
            const headerRow = document.createElement('tr');
            ['no', 'name', 'branchType', "objectName"].forEach(headerText => {
                const th = document.createElement('th');
                th.scope = 'col';
                th.textContent = headerText;
                headerRow.appendChild(th);
            });
            thead.appendChild(headerRow);
            table.appendChild(thead);

            // Create table body
            const tbody = document.createElement('tbody');
            data.forEach(dataRow => {
                const tr = document.createElement('tr');
                ['no', 'name', 'branchType', "objectName"].forEach(key => {
                    const td = document.createElement('td');
                    td.textContent = dataRow[key];
                    tr.appendChild(td);
                });
                tbody.appendChild(tr);
            });
            table.appendChild(tbody);

            // Append table to the container
            const tableContainer = document.getElementById('dynamicContent');
            tableContainer.appendChild(table);
        }
    }

    function loadConfig() {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();
        let finalUrl = `/api/getConfig?path=${path}`
        $.get(finalUrl, function (data) {
            console.log(data)
            displayConfig(data)
        });
    }

    function displayConfig(data) {
        let container = document.createElement("div");
        container.classList.add("container", "mt-4", "overflow-hidden");

        let row = document.createElement("div");
        row.classList.add("row", "gy-5");

        Object.keys(data).forEach(function (object) {
            // Create the column element
            let column = document.createElement("div");
            column.classList.add("col-6");

            // Create the card element
            let card = document.createElement("div");
            card.classList.add("card", "p-3");

            let headingElement = document.createElement("h3");
            headingElement.classList.add("text-center");
            headingElement.textContent = object;
            // Create the paragraph element with text
            let paragraph = document.createElement("p");
            let nameSpan = document.createElement("span");
            nameSpan.textContent = "Name: " + data[object].name;
            nameSpan.style.display = "block"; // Display as block to show on a new line

            // Create a span element for the email
            let emailSpan = document.createElement("span");
            emailSpan.textContent = "Email: " + data[object].email;
            emailSpan.style.display = "block"; // Display as block to show on a new line

            let remoteSpan = document.createElement("span");
            remoteSpan.textContent = "Remote: " + data[object].remote ? data[object].remote : "";

            // Append the name and email spans to the paragraph
            paragraph.appendChild(nameSpan);
            paragraph.appendChild(emailSpan);
            paragraph.appendChild(remoteSpan)
            // Append figure to card
            card.appendChild(headingElement)
            card.appendChild(paragraph);

            // Append card to column
            column.appendChild(card);

            // Append column to row
            row.appendChild(column);
        });
        container.appendChild(row);
        // Append table to the container
        const tableContainer = document.getElementById('dynamicContent');
        tableContainer.appendChild(container);
    }

    function getCommit(commitId) {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();
        let finalUrl = `/api/getCommit/${commitId}?path=${path}`
        $.get(finalUrl, function (data) {
            console.log(data)
            addCommitDetails(data)
        });
    }

    function createDiffForm(commitId, parentCommitIds) {
        let formElement = document.createElement('form');
        formElement.classList.add("row", "align-items-center")

        let commitElement = document.createElement('div');
        commitElement.classList.add("col")
        let subCommitElement = document.createElement('div')
        subCommitElement.classList.add("input-group")
        let inputElement1 = document.createElement("input");
        inputElement1.setAttribute("type", "text");
        inputElement1.setAttribute("class", "form-control");
        inputElement1.setAttribute("placeholder", "CommitId");
        inputElement1.value = commitId;
        subCommitElement.appendChild(inputElement1)
        commitElement.appendChild(subCommitElement)
        formElement.appendChild(commitElement)


        let parentCommitElement = document.createElement('div');
        parentCommitElement.classList.add("col")
        let selectElement = document.createElement("select");
        selectElement.setAttribute("class", "form-select");
        for (const parentCommitId of parentCommitIds) {
            let option2 = document.createElement("option");
            option2.textContent = parentCommitId;
            option2.setAttribute("value", parentCommitId);
            selectElement.appendChild(option2);
        }
        parentCommitElement.appendChild(selectElement)
        formElement.appendChild(parentCommitElement)

        let divElement = document.createElement("div");
        divElement.className = "col";
        let buttonElement = document.createElement("button");
        buttonElement.setAttribute("type", "submit");
        buttonElement.setAttribute("class", "btn btn-primary");
        buttonElement.textContent = "Difference";
        buttonElement.addEventListener('click', function (event) {
            event.preventDefault();
            // Call your function here
            let selectElement = document.querySelector(".form-select");
            let selectedValue = selectElement.value;
            getDiffByChildCommitAndParentCommit(path, commitId, selectedValue);
        });
        divElement.appendChild(buttonElement);
        formElement.appendChild(divElement)

        const dynamicContainer = document.getElementById('dynamicContent');
        dynamicContainer.appendChild(document.createElement('br'))
        dynamicContainer.appendChild(formElement);
        dynamicContainer.appendChild(document.createElement('br'))
    }

    function showDiffByChildCommitAndParentCommit(data) {
        let accordion = document.createElement('div');
        accordion.classList.add("accordion");
        let listOfData = ["ADD", "MODIFY", "DELETE", "RENAME"]
        let keys = Object.keys(data)
        for (const listOfDatum of listOfData) {
            if (keys.includes(listOfDatum)) {
                let accordionItem = document.createElement("div");
                accordionItem.classList.add("accordion-item");
                let accordionHeader = document.createElement("h2");
                accordionHeader.classList.add("accordion-header");
                let accordionButton = document.createElement("button");
                accordionButton.classList.add("accordion-button");
                accordionButton.setAttribute("type", "button");
                accordionButton.setAttribute("data-bs-toggle", "collapse");
                accordionButton.setAttribute("data-bs-target", "#collapse" + listOfDatum);
                // accordionButton.setAttribute("aria-expanded", "true");
                accordionButton.setAttribute("aria-controls", "collapse" + listOfDatum);
                accordionButton.textContent = listOfDatum;
                let accordionCollapse = document.createElement("div");
                accordionCollapse.classList.add("accordion-collapse", "collapse");
                accordionCollapse.id = "collapse" + listOfDatum;
                accordionCollapse.setAttribute("data-bs-parent", "#accordionExample");

                let accordionBody = document.createElement("div");
                accordionBody.classList.add("accordion-body");
                let olElement = document.createElement("ol");
                for (const modify of data[listOfDatum]) {
                    let liElement = document.createElement("li");
                    liElement.textContent = modify
                    if (modify.startsWith("-")) {
                        // Add a class for red color
                        liElement.classList.add("text-danger");
                    } else if (modify.startsWith("+")) {
                        // Add a class for green color
                        liElement.classList.add("text-success");
                    }
                    olElement.appendChild(liElement)
                }
                accordionBody.appendChild(olElement)
                // Assemble elements
                accordionHeader.appendChild(accordionButton);
                accordionCollapse.appendChild(accordionBody);
                accordionItem.appendChild(accordionHeader);
                accordionItem.appendChild(accordionCollapse);
                accordion.appendChild(accordionItem)
            }
        }
        const tableContainer = document.getElementById('dynamicContent');
        tableContainer.appendChild(accordion);
    }

    function addCommitDetails(data) {
        // Create the outer card element
        let cardDiv = document.createElement("div");
        cardDiv.classList.add("card");
        cardDiv.style.width = "50rem";

        let cardHeaderDiv = document.createElement("div");
        cardHeaderDiv.classList.add("card-header", "text-center");
        cardHeaderDiv.textContent = `${data.id}`;
        let dateHeaderDiv = document.createElement("div");
        dateHeaderDiv.classList.add("card-header", "text-center");
        dateHeaderDiv.textContent = `${new Date(data.time * 1000).toTimeString()} - ${new Date(data.time * 1000).toDateString()}`;
        let listGroupUl = document.createElement("ul");
        listGroupUl.className = "list-group list-group-flush";

        // Create list items
        let listItem1 = document.createElement("li");
        listItem1.className = "list-group-item";
        listItem1.textContent = "name : " + data.name;

        let listItem2 = document.createElement("li");
        listItem2.className = "list-group-item";
        listItem2.textContent = "email : " + data.email;

        let listItem3 = document.createElement("li");
        listItem3.className = "list-group-item";
        listItem3.textContent = "message : " + data.message;
        // Append list items to the list group
        listGroupUl.appendChild(listItem1);
        listGroupUl.appendChild(listItem2);
        listGroupUl.appendChild(listItem3);
        if (data.parent) {
            let listItem4 = document.createElement("li");
            listItem4.className = "list-group-item";
            // listItem4.textContent = "parent : " + data.parent;
            let parentLabelSpan = document.createElement("span");
            parentLabelSpan.textContent = "parent: ";
            listItem4.appendChild(parentLabelSpan);
            for (const parent of data.parent) {
                let parentValueSpan = document.createElement("span");
                let parentLink = document.createElement("a");
                parentLink.textContent = parent; // Assuming data.parent contains the URL text
                parentLink.href = ""; // Assuming data.parent contains the URL
                parentLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    // Call your function here
                    getCommit(parent);
                });
                parentValueSpan.appendChild(parentLink);
                listItem4.appendChild(parentValueSpan);
                let br = document.createElement("br");
                listItem4.appendChild(br)
            }
            listGroupUl.appendChild(listItem4)
        }

// Append the card header and list group to the card
        cardDiv.appendChild(cardHeaderDiv);
        cardDiv.appendChild(dateHeaderDiv);
        cardDiv.appendChild(listGroupUl);

        const tableContainer = document.getElementById('dynamicContent');
        tableContainer.appendChild(cardDiv);
        createDiffForm(data.id, data.parent)
    }

    function getFiles(path) {
        let dynamicContent = $('#dynamicContent');
        dynamicContent.empty();

        let getFilesUrl = `/api/getFiles?path=${path}`
        $.get(getFilesUrl, function (data) {
            console.log(data)
            showFiles(data)
        });
    }

    function showFiles(data) {
        let mainDiv = document.createElement("div");

        let navElement = document.createElement("nav");
        navElement.setAttribute("aria-label", "breadcrumb");
        let olElement = document.createElement("ol");
        olElement.className = "breadcrumb";

        if (data.oldPath !== path) {
            let liElement = document.createElement("li");
            liElement.className = "breadcrumb-item active";
            liElement.setAttribute("aria-current", "page");
            const anchorElement = document.createElement('a');
            anchorElement.textContent = path;
            anchorElement.setAttribute('href', '');
            anchorElement.addEventListener('click', function (event) {
                event.preventDefault();
                // Call your function here
                getFiles(path);
            });
            liElement.appendChild(anchorElement)
            olElement.appendChild(liElement);

            let latestPath = data.oldPath
            let folders = latestPath.substring(path.length + 1).split('/')
            for (const folder of folders) {
                let editPath = getPathAndFolder(folder, latestPath)
                let liElement = document.createElement("li");
                liElement.className = "breadcrumb-item";
                const anchorElement = document.createElement('a');
                anchorElement.textContent = folder;
                anchorElement.setAttribute('href', '');
                anchorElement.addEventListener('click', function (event) {
                    event.preventDefault();
                    // Call your function here
                    getFiles(`${editPath}${folder}`);
                });
                liElement.appendChild(anchorElement)
                olElement.appendChild(liElement);
            }
        } else {
            let liElement = document.createElement("li");
            liElement.className = "breadcrumb-item active";
            liElement.setAttribute("aria-current", "page");
            liElement.textContent = `${path}`;
            olElement.appendChild(liElement);
        }

        const table = document.createElement('table');
        table.classList.add('table', 'table-hover');

        // Create table header
        const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');
        ['fileName', 'isDirectory', 'lastModified'].forEach(headerText => {
            const th = document.createElement('th');
            th.scope = 'col';
            th.textContent = headerText;
            headerRow.appendChild(th);
        });
        thead.appendChild(headerRow);
        table.appendChild(thead);

        // Create table body
        const tbody = document.createElement('tbody');
        for (const dataRow of data.files) {
            const tr = document.createElement('tr');
            if (dataRow.isDirectory === true) {
                tr.classList.add("table-primary")

                const td1 = document.createElement('td');
                const anchorElement = document.createElement('a');
                anchorElement.textContent = dataRow.fileName;
                anchorElement.setAttribute('href', '');
                anchorElement.addEventListener('click', function (event) {
                    event.preventDefault();
                    // Call your function here
                    getFiles(`${data.oldPath}/${dataRow.fileName}`);
                });
                td1.appendChild(anchorElement)
                tr.appendChild(td1)
            } else {
                const td1 = document.createElement('td');
                td1.textContent = dataRow.fileName;
                tr.appendChild(td1)
            }

            const td2 = document.createElement('td');
            td2.textContent = dataRow.isDirectory;
            const td3 = document.createElement('td');
            td3.textContent = dataRow.lastModified;

            tr.appendChild(td2);
            tr.appendChild(td3);
            tbody.appendChild(tr);
        }

        table.appendChild(tbody);

        navElement.appendChild(olElement);
        mainDiv.appendChild(navElement)
        mainDiv.appendChild(table)
        const tableContainer = document.getElementById('dynamicContent');
        tableContainer.appendChild(mainDiv);
    }

    function getPathAndFolder(folder, path) {
        return path.substring(0, path.indexOf(folder));
    }

    function getDiffByChildCommitAndParentCommit(path, commitId, parentCommitId) {
        let getFilesUrl = `/api/getDiffByChildCommitAndParentCommit?path=${path}&commitId=${commitId}&parentCommitId=${parentCommitId}`
        console.log(getFilesUrl)
        $.get(getFilesUrl, function (data) {
            console.log("getDiffInFile", data)
            showDiffByChildCommitAndParentCommit(data)
        });
    }
</script>
</body>
</html>