<!DOCTYPE html>
<html lang="en">
<head>
  <title>GitHub Repository Activities</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
          integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
          crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
<div class="container mt-4 overflow-hidden">
  <div class="text-center">
    <h3 class="text-center text-light" th:text="${repoName}"></h3>
    <br>
  </div>
  <br>
  <div class="row gy-5">
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Search commits...">
      </div>
    </div>
    <div class="col-6" th:each="activity : ${allActivities}">
      <div class="card p-3">
        <figure class="p-3 mb-0">
          <blockquote class="blockquote">
            <p>Ref: <span class="text-primary" th:text="${activity.ref}"></span></p>
            <p>Before: <span class="text-primary" th:text="${activity.before}"></span></p>
            <p>After: <span class="text-primary" th:text="${activity.after}"></span></p>
            <p>pushedAt: <span class="text-primary" th:text="${activity.timestamp}"></span></p>
            <p>ActivityType: <span class="text-primary" th:text="${activity.activity_type}"></span></p>
            <p>Owner: <span class="text-primary" th:text="${activity.actor.login}"></span></p>
          </blockquote>
        </figure>
      </div>
    </div>
  </div>
</div>
<script>
  function searchActivity() {
    let input, filter, cards, card, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    console.log(filter)
    cards = document.getElementsByClassName("col-6"); // Adjust this class selector to match your repository card class
    for (i = 0; i < cards.length; i++) {
      card = cards[i];
      txtValue = card.textContent || card.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        card.style.display = "";
      } else {
        card.style.display = "none";
      }
    }
  }
  document.getElementById("searchInput").addEventListener("input", searchActivity);
</script>
</body>
</html>