<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
            src="https://code.jquery.com/jquery-3.6.3.slim.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/local}" type="button">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/github}" type="button">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/codecommit/repositories(region = 'ap-south-1')}"
                           type="button">CodeCommit</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/local/createRepositoryForm(path = ${path})}"
                           type="button">Git</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link fw-semibold" onclick="showModal()" type="button">Directory</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link fw-semibold" onclick="showFileModal()" type="button">File</button>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-link fw-semibold" th:href="@{/local/cloneRepositoryForm(path = ${path})}"
                           type="button">Clone
                        </a>
                    </li>
                    <li class="nav-item">
                        <input aria-label="Search" class="form-control" id="searchInput"
                               placeholder="search folders ..."
                               type="search">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<br>
<!--<h5 class="text-center text-dark" th:text="${path}"></h5>-->
<div class="container" style="text-align: center;">
    <h5 aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="parent : ${parents}">
                <a th:href="@{/local(path= ${parent.parentPath})}" th:if="${parent.isDirectory == true}"
                   th:text="${parent.name}"></a>
                <span th:text="${parent.name}" th:unless="${parent.isDirectory == true}"></span>
            </li>
        </ol>
    </h5>
</div>
<div class="container mt-4 mb-4">
    <div class="row g-2">
        <div class="col-2" th:each="entry : ${getAllHome}">
            <div class="p-2">
                <div class="text-center">
                    <div th:if="${entry.getIsDirectory()}">
                        <a th:href="@{/local(path=${path != null} ? ${path+ '/' + entry.getFileName()} : ${entry.getFileName()})}">
                            <img alt="Image"
                                 height="100"
                                 th:src="@{/images/git_image.png}"
                                 th:if="${entry.getIsDirectory() and entry.getHasGit()}" width="100">
                            <img alt="Image"
                                 height="100"
                                 th:src="@{/images/directory_image.png}"
                                 th:unless="${entry.getIsDirectory() and entry.getHasGit()}" width="100"></a>
                        <a th:href="@{/local/fileDetails(path=${path != null} ? ${path+ '/' + entry.getFileName()} : ${entry.getFileName()})}"
                           th:if="${entry.getHasGit()}">
                            <p th:text="${entry.getFileName()}"></p>
                        </a>
                        <p th:text="${entry.getFileName()}" th:unless="${entry.getHasGit()}"></p>
                    </div>
                    <div th:unless="${entry.getIsDirectory()}">
                        <img th:src="@{/images/file_image.png}" width="100" height="100">
                        <p th:text="${entry.getFileName()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Directory Name</h5>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{local/createFolder(path = ${path})}">
                    <div class="form-group">
                        <label for="nameInput">directory:</label>
                        <input class="form-control" id="nameInput" name="name" required
                               th:value="${name}"
                               type="text">
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="myFileModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter File Name</h5>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{local/createFile(path = ${path})}">
                    <div class="form-group">
                        <label for="nameInput">file:</label>
                        <input class="form-control" name="filename" required
                               th:value="${filename}"
                               type="text">
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function showModal() {
        $('#myModal').modal('show');
    }

    function showFileModal() {
        $('#myFileModal').modal('show');
    }

    function searchRepositories() {
        let input, filter, cards, card, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        console.log(filter)
        cards = document.getElementsByClassName("col-2"); // Adjust this class selector to match your repository card class
        for (i = 0; i < cards.length; i++) {
            card = cards[i];
            txtValue = card.textContent || card.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                card.style.display = "";
            } else {
                card.style.display = "none";
            }
        }
    }

    document.getElementById("searchInput").addEventListener("input", searchRepositories);
</script>
</body>
</html>